body {
    background-color: #fff8e1;
    color: #333;
    text-align: center; 
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

 
header {
    height: 75px;
    background-color: #F46524; 
    color: white;
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color:rgba(244, 102, 36, 0.918);
    transition: background-color 0.3s, transform 0.2s;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.header-grid {
    display: grid;
    grid-template-columns: 80px 1fr auto;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
}

.header-links a:link,
.header-links a:visited {
    color: white;
    background-color: #6870b3;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.header-links a:hover,
.header-links a:active {
    color: white;
    background-color: #2b35c7;
}

.top-logo-img{
    width: 800px;
    height: 320px;
}



.cart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.cart-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.cart-box {
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
    text-align: left;
    padding: 15px 20px;
    gap: 40px;
}

.cart-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-total {
    margin-top: 20px;
    font-size: 1.6em;
    text-align: right;
    
}

.checkout-btn {
    margin-top: 15px;
    width: 50%;
    padding: 20px 0;
    font-size: 2.3em;
    font-weight: bold;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.55);
    color: white;
    background-color: #1048afb9;
    border:1px #333;
    border-radius: 10px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #d4531d;
}

.empty-cart-msg {
    font-size: 1.4em;
    color: #555;
    font-weight: bold;
    text-align: center; 
     
}

 
.checkout-btn.processing {
    background-color: #aaaaaa;
    cursor: default;
    text-align: center; 
}

 
.checkout-btn.complete {
    background-color: #4CAF50;
    cursor: default;
    text-align: center; 
}

 
.checkout-message {
    background: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    font-size: 1.2em;
    color: #333;
    text-align: center; 
}