html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

body {
    background-color: #fff8e1;
    color: #333;
    text-align: center; 
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

 
header {
    height: 75px;
    background-color: #F46524; 
    color: white;
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.header-grid {
    display: grid;
    grid-template-columns: 80px 1fr 200px;
    align-items: center;
}

.header-links {
    display: flex;               /* Make the links line up horizontally */
    justify-content: center;     /* Center them horizontally (optional) */
    align-items: center;         /* Align them vertically (optional) */
    gap: 15px;                   /* Add space between the two links */
}

.welcome-message-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.welcome-message-header p {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    line-height: 1.2;
}


.header-links a:link,
.header-links a:visited {
    color: white;
    background-color: #6870b3;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    
}

.header-links a:hover,
.header-links a:active {
    color: white;
    background-color: #2b35c7;
}

.bottom-logo-container {
    margin-top: auto;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-logo-img {
    width: 1500px;
    height: 800px;
}

