html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

body {
    background-color: #fff8e1;
    color: #333;
    text-align: center; 
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

 
header {
    height: 75px;
    background-color: #F46524; 
    color: white;
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color:rgba(244, 102, 36, 0.918);
    transition: background-color 0.3s, transform 0.2s;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.header-grid {
    display: grid;
    grid-template-columns: 80px 1fr auto;
    align-items: center;
}

.header-links {
    display: flex;                
    justify-content: center;      
    align-items: center;         
    gap: 15px;               
}

.welcome-message-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.welcome-message-header {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 50px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 2em;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

.welcome-message-header p {
    margin: 0;
    text-align: center;
    line-height: 1.2;
}

 


.header-links a:link,
.header-links a:visited {
    color: white;
    background-color: #6870b3;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    
}

.header-links a:hover,
.header-links a:active {
    color: white;
    background-color: #2b35c7;
}

.bottom-logo-container {
    margin-top: auto;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-logo-img {
    width: 1400px;
    height: 1000px;
}

