body {
    background-color: #fff8e1;
    color: #333;
    text-align: center; 
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

 
header {
    height: 75px;
    background-color: #F46524; 
    color: white;
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.header-grid {
    display: grid;
    grid-template-columns: 80px 1fr 100px;
    align-items: center;
}

.header-links a:link,
.header-links a:visited {
    color: white;
    background-color: #3144f0;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.header-links a:hover,
.header-links a:active {
    color: white;
    background-color: rgb(55, 58, 240);
}
